.img-background{
  padding-bottom: 20px;
  padding-top: 10px;
}

.img-background > div{
  text-align: center;
}

.footer div{
  color: white
}

.footer{
  min-width: 100%;
  display: flex;
  justify-content: center;
}

.footer-nav{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer-nav .container{
  min-width: 100%;
}

.footer p{
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 10px;
}

.alert {
  text-align: center;
  width:500px;
}

.upload {
  text-align: center;
  width: 500px;
}

.taps {
  margin-top: 15px;
}

#upload-data{
  display: flex;
  justify-content:center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.alert-div{
  display: flex;
  justify-content:center; 
}

.search-name{
  margin-top: 50px;
  margin-bottom: 50px;
}

.button-send{
  text-align: center;
  width:300px;
}