.img-background{
  padding-bottom: 20px;
  padding-top: 10px;
}

.img-background > div{
  text-align: center;
  width: 100%;
}

.footer div{
  color: white
}

.footer{
  min-width: 100%;
  display: flex;
  justify-content: center;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 100vh;
}

.footer-nav{
  position: fixed;
  bottom: 0; 
  padding: 0;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .footer-nav{
    position: relative !important;
  }
  .img-padding{
    padding-top: 15% !important;
    padding-bottom: 15% !important;
  }
}

.icons-footer{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.footer-nav .container{
  min-width: 100%;
}

.footer p{
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 10px;
}

.alert {
  text-align: center;
  width:500px;
}

.upload {
  text-align: center;
  width: 500px;
}

.taps {
  margin-top: 15px;
}

#upload-data{
  display: flex;
  justify-content:center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.alert-div{
  display: flex;
  justify-content:center; 
}

.search-name{
  margin-top: 50px;
  margin-bottom: 50px;
}

.button-send{
  text-align: center;
  width:300px;
}

.navbar-fixed-top{
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-nav-link{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
}

@media only screen and (min-width: 768px) {
.visible-menu{
  display: flex !important;
  flex-direction: row !important;
}
} 

@media only screen and (max-width: 767px) {
  .visible-menu{
    flex-direction: column !important;
  } 
}

